*{
    margin:0;
    outline:0;
    box-sizing: border-box;
}

#container{
    width:100%;
    height:100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding:50px;
}

#to-do{
    width:90%;
    background: #ffff;
    border-radius: 10px;
    padding: 20px;
}

#head{
    display:flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #153677;
    margin-bottom: 20px;;
}

#head h1{
    font-weight: 700;
    color: #153677;
}

#head img{
    width:40px;
    height:40px;
    margin-left:10px;
}

#addTask{
    display:flex;
    background: #edeef0;
    justify-content: space-between;
    align-items: center;
    height:40px;
    border-radius: 40px;
}

#addTask input{
    flex:1;
    height:40px;
    border-radius: 40px;
    border:none;
    outline:none;
    background: transparent;
    padding-left: 15px;
    font-size: 16px;;
}

#addTask button{
    height:40px;
    border-radius: 40px;
    border:none;
    outline:none;
    background-color: #ff5945;
    color:white;
    padding: 10px 40px;
    cursor: pointer;
    font-size: 16px;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 40px;
    position: relative;
    user-select: none;
    font-size: 18px;
    cursor: pointer;
}

ul li::before{
    position: absolute;
    content: '';
    background-image: url(images/unchecked.png);
    width:28px;
    height: 28px;
    background-size: cover;
    top:12px;
    left:0;
    border-radius: 50%;
}

.content{
    color: #555;
    text-decoration: line-through;
}

.content::before{
    background-image: url(images/checked.png);
}

span{
    position: absolute;
    right:0;
    font-size: 25px;
    border-radius: 50%;
    color:#555;
    top: 12px;
    text-align: center;
    height:40px;
    width:40px;
    cursor: pointer;
    line-height: 40px;
}

span:hover{
    background: #edeef0;
    color:red;
}
